{% extends "navbar.html" %}
{% block title %}Contributers{% endblock %}
{% block content %}
{{ super() }}
<div>
    <h1 class="text-primary" style="margin-left:180px;font-family: 'Bagel Fat One', cursive;display:inline">Contributors
    </h1>
    <h2 style="font-family: 'Caprasimo', cursive; margin-left:20px; color:rgb(57, 78, 83);display:inline;">Team Number
        : 115</h2>
</div>
<br>
<div style=" color:azure;">
    <div class="row" style="margin-left:300px; width: 1000px;">
        <div class="col-sm-6 mb-4 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name : Benoy Joseph</h5>
                    <p class="card-text">Registration Number : 20BCE1657</p>
                    <a href="#" class="btn btn-primary"> Tableau Public </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name : Harikrishnan R</h5>
                    <p class="card-text">Registration Number : 20BCE1672</p>
                    <a href="https://public.tableau.com/app/profile/harikrishnan.r7355" class="btn btn-primary">
                        Tableau
                        Public </a>
                    <a href="https://github.com/Harikrish-rrk/Netflix_Analysis_Flask_Application_Tableau"
                        class="btn btn-success">
                        Github </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="margin-left:300px;width: 1000px;">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name : Sudip Roy</h5>
                    <p class="card-text">Registration Number : 20BCE1657</p>
                    <a href="#" class="btn btn-primary"> Tableau Public </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name : Victor</h5>
                    <p class="card-text">Registration Number : 20BCE1657</p>
                    <a href="#" class="btn btn-primary"> Tableau Public </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}