{% extends "navbar.html" %}
{% block title %}Project{% endblock %}
{% block content %}
{{ super() }}
<h1 class="text-primary"
    style="margin-left:180px;font-family: 'Bagel Fat One', cursive;display:flex;align-items:center;"><i
        class="bi bi-file-earmark-fill" style="padding-bottom: 10px;"></i>&emsp14;Project</h1>
<h1 style="margin-left:180px;font-family: 'Bagel Fat One', cursive;color: #c30707;">MysQL Setup</h1>
<div
    style="margin-left:180px;padding:10px; display: flex; justify-content:space-between; align-items: center;align-content: center;width:450px;text-align: center;">
    <a class="btn btn-success" href="https://dev.mysql.com/downloads/installer">MySQL Installation File</a>

    <a class="btn btn-info" href="https://www.youtube.com/watch?v=qBBXBZXKi0w&ab_channel=AmitThinks">MySQL Installation
        video</a>
</div>
<h3 style="margin-left:180px;color:#cc7e00; font-family: 'Bagel Fat One', cursive;">Dont forget to download ODBC
    connector for MySQL !</h3>


<h1 style="margin-left:180px;font-family: 'Bagel Fat One', cursive;color: #c30707;">Flask Application Setup
    (python
    commands)</h1>
<div style="margin-left:200px;">
    <h2>Change Directory</h2>
    <h5>cd .\Netflix_Analysis_Flask_Application_Tableau\</h5>
    <h2>Virtual Environment Setup (Optional)</h2>
    <div style="margin-inline: 5rem;">
        <li>Installing Virtual Environment</li>
        <h5>pip install virtualenv (install library for virtual environment)</h5>
        <h5>py -3 -m venv venv</h5>
        <li>Activate Virtual environment</li>
        <h5>venv\Scripts\activate</h5>
    </div>
    <h2>Change Directory to Netflix</h2>
    <h5> cd .\Netflix\</h5>
    <h2>Install dependencies</h2>
    <h5> pip install flask, flask-bootstrap, Jinja2</h5>
    <h2>Run flask application</h2>
    <h5> flask run --debug</h5>
</div>
<br><br><br><br><br>
{% endblock content %}