{% extends "navbar.html" %}
{% block title %}Softwares{% endblock %}
{% block content %}
{{ super() }}
<h1 class="text-primary"
    style="margin-left:180px;font-family: 'Bagel Fat One', cursive;display:flex;align-items:center;"><i
        class="bi bi-info-square-fill" style="padding-bottom: 10px;"></i>&emsp14;Software Information
</h1>
</div>
<h1 style="margin-left:180px;font-family: 'Bagel Fat One', cursive;color: #c30707">Softwares Used</h1>
<div style="margin-left:200px;color:white;font-weight: 500;font-size: medium;width: 100rem;">
    <div style="display:flex;justify-content:space-between; align-items: center;">
        <h3>
            <div>

                <h1 style="color: rgb(0, 132, 255);display:inline;">Python&emsp;
                </h1>
            </div>
        </h3>
    </div>
    <p>
        Python is a high-level programming language known for its simplicity and readability, often used for web
        development, data analysis, and automation tasks.
    </p>
</div>
<div style="margin-left:200px;color:white;font-weight: 500;font-size: medium;width: 100rem;">
    <div style="display:flex;justify-content:space-between; align-items: center;">
        <h3>
            <div>

                <h1 style="color: rgb(0, 132, 255);display:inline;">MySQL&emsp;
                    <a class="btn btn-success" href="https://dev.mysql.com/downloads/installer/">MySQL</a>
                </h1>
            </div>
        </h3>
    </div>
    <p>
        MySQL is an open-source relational database management system based on SQL – Structured Query Language. The
        application is used for a wide range of purposes, including data warehousing, e-commerce, and logging
        applications. The most common use for mySQL however, is for the purpose of a web database. It can be used to
        store anything from a single record of information to an entire inventory of available products for an
        online store. This ease of use and scalability makes mySQL extremely popular, and a go-to for anyone
        needing a database solution.
    </p>
</div>
<div style="margin-left:200px;color:white;font-weight: 500;font-size: medium;width: 100rem;">
    <div style="display:flex;justify-content:space-between; align-items: center;">
        <h3>
            <div>

                <h1 style="color: rgb(0, 132, 255);display:inline;">Tableau&emsp;
                    <a class="btn btn-success"
                        href="https://community.tableau.com/s/elearning#gettingstarted">Tableau</a>
                </h1>
            </div>
        </h3>
    </div>
    <p>
        Tableau is a powerful data visualization and business intelligence software tool. It is designed to help
        people and organizations understand and communicate data effectively through interactive and visually
        appealing dashboards, reports, and charts.Tableau provides a user-friendly interface that allows users to
        connect to various data sources,
        including spreadsheets, databases, cloud services, and more. Once connected, users can create
        visualizations by dragging and dropping data fields onto a canvas. Tableau supports a wide range of
        visualization types, such as bar charts, line charts, maps, scatter plots, and more.
    </p>
</div>
<div style="margin-left:200px;color:white;font-weight: 500;font-size: medium;width: 100rem;">
    <div style="display:flex;justify-content:space-between; align-items: center;">
        <h3>
            <div>

                <h1 style="color: rgb(0, 132, 255);display:inline;">Flask&emsp;
                    <a class="btn btn-success" href="https://flask.palletsprojects.com/en/2.3.x/">Flask
                        Documentation</a>
                    <a class="btn btn-success" href="https://pythonhosted.org/Flask-Bootstrap/">Flask Bootstrap
                        Documentation</a>
                </h1>
            </div>
        </h3>
    </div>
    <p>
        Flask is a web framework, it’s a Python module
        that lets you develop web applications easily. It’s has a small and easy-to-extend core: it’s a
        microframework that doesn’t include an ORM (Object Relational Manager) or such features.
        It does have many cool features like url routing, template engine. It is a WSGI web app framework.
    </p>
    &emsp;&emsp;&emsp;
    <div class="card bg bg-primary"
        style="width: 28rem; padding:2rem; border-radius: 2rem; border:1rem solid rgb(30, 30, 122);">
        <div class="card-body">
            <div style="margin-left: 25px;">
                <li>Python ( 3.11.3 )</li>
                <li>Flask ( 2.3.2 )</li>
                <li>Werkzeug ( 2.3.6 )</li>
                <li>pip ( 23.1.2 )</li>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}